assets/n8n/workflows/cfo-weekly-summary.n8n.json
{
    "name": "CFO Weekly Invoice Approval Summary",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 8 * * 1"
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0001-4000-8000-000000000001",
            "name": "Every Monday 08:00",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -800,
                0
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $env.AGENT_SUMMARY_URL }}/summary",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "a1b2c3d4-0002-4000-8000-000000000002",
            "name": "Fetch Invoice Summary",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -560,
                0
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "field-subject",
                            "name": "subject",
                            "value": "=Weekly Invoice Approval Summary — Week ending {{ $json.week_ending }}",
                            "type": "string"
                        },
                        {
                            "id": "field-body",
                            "name": "body",
                            "value": "=Weekly Invoice Approval Summary\nWeek ending: {{ $json.week_ending }}\nGenerated at: {{ $json.generated_at }}\n\nFlagged Invoices (>50K, pending >3 days): {{ $json.total_flagged }}\n\n{{ $json.invoices.map(inv => `- Invoice ${inv.invoice_id} | Vendor: ${inv.vendor} | Amount: ${inv.amount} ${inv.currency} | Days Pending: ${inv.days_pending}`).join('\\n') }}\n\nGenerated by Invoice Approval Monitor Agent.\n\n[M4] CFO notification sent via n8n workflow on {{ $now.toISO() }}.",
                            "type": "string"
                        },
                        {
                            "id": "field-week-ending",
                            "name": "week_ending",
                            "value": "={{ $json.week_ending }}",
                            "type": "string"
                        },
                        {
                            "id": "field-total",
                            "name": "total_flagged",
                            "value": "={{ $json.total_flagged }}",
                            "type": "number"
                        }
                    ]
                },
                "options": {}
            },
            "id": "a1b2c3d4-0003-4000-8000-000000000003",
            "name": "Format Email",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -320,
                0
            ]
        },
        {
            "parameters": {
                "fromEmail": "invoice-monitor@company.com",
                "toEmail": "={{ $env.CFO_EMAIL }}",
                "subject": "={{ $json.subject }}",
                "text": "={{ $json.body }}",
                "options": {}
            },
            "id": "a1b2c3d4-0004-4000-8000-000000000004",
            "name": "Send CFO Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                -80,
                0
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "field-log",
                            "name": "log",
                            "value": "=[M4] CFO notification sent via n8n workflow on {{ $now.toISO() }}. Flagged invoices: {{ $('Format Email').item.json.total_flagged }}.",
                            "type": "string"
                        },
                        {
                            "id": "field-status",
                            "name": "status",
                            "value": "success",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "a1b2c3d4-0005-4000-8000-000000000005",
            "name": "Log M4 Success",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                160,
                0
            ]
        }
    ],
    "connections": {
        "Every Monday 08:00": {
            "main": [
                [
                    {
                        "node": "Fetch Invoice Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Invoice Summary": {
            "main": [
                [
                    {
                        "node": "Format Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Email": {
            "main": [
                [
                    {
                        "node": "Send CFO Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send CFO Email": {
            "main": [
                [
                    {
                        "node": "Log M4 Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "id": "TGH6l4cD5CqoFnG4"
}